@mixin define-font($font-name, $font, $weight: normal, $style: normal, $woff2: false) {
	@if ($woff2) {
		@font-face {
			font-family: $font-name;
			font-weight: $weight;
			font-style: $style;
			src: url(font-path("#{$font}.eot")); // IE9 Compat Modes
			src: url(font-path("#{$font}.eot?#iefix")) format("embedded-opentype"), // IE6-IE8
				 url(font-path("#{$font}.svg#{$font}")) format("svg"), // Legacy iOS
				 url(font-path("#{$font}.woff2")) format("woff2"), // Super Modern Browsers
				 url(font-path("#{$font}.woff")) format("woff"), // Pretty Modern Browsers
				 url(font-path("#{$font}.ttf")) format("truetype"); // Safari, Android, iOS
		}
	}
	@else {
		@font-face {
			font-family: $font-name;
			font-weight: $weight;
			font-style: $style;
			src: url(font-path("#{$font}.eot")); // IE9 Compat Modes
			src: url(font-path("#{$font}.eot?#iefix")) format("embedded-opentype"), // IE6-IE8
				 url(font-path("#{$font}.svg#{$font}")) format("svg"), // Legacy iOS
				 url(font-path("#{$font}.woff")) format("woff"), // Pretty Modern Browsers
				 url(font-path("#{$font}.ttf")) format("truetype"); // Safari, Android, iOS
		}
	}
}

@mixin define-lib-font($font-name, $font, $weight: normal, $style: normal, $woff2: false) {
	@if ($woff2) {
		@font-face {
			font-family: $font-name;
			font-weight: $weight;
			font-style: $style;
			src: url(lib-font-path("#{$font}.eot")); // IE9 Compat Modes
			src: url(lib-font-path("#{$font}.eot?#iefix")) format("embedded-opentype"), // IE6-IE8
				 url(lib-font-path("#{$font}.svg#{$font}")) format("svg"), // Legacy iOS
				 url(lib-font-path("#{$font}.woff2")) format("woff2"), // Super Modern Browsers
				 url(lib-font-path("#{$font}.woff")) format("woff"), // Pretty Modern Browsers
				 url(lib-font-path("#{$font}.ttf")) format("truetype"); // Safari, Android, iOS
		}
	}
	@else {
		@font-face {
			font-family: $font-name;
			font-weight: $weight;
			font-style: $style;
			src: url(lib-font-path("#{$font}.eot")); // IE9 Compat Modes
			src: url(lib-font-path("#{$font}.eot?#iefix")) format("embedded-opentype"), // IE6-IE8
				 url(lib-font-path("#{$font}.svg#{$font}")) format("svg"), // Legacy iOS
				 url(lib-font-path("#{$font}.woff")) format("woff"), // Pretty Modern Browsers
				 url(lib-font-path("#{$font}.ttf")) format("truetype"); // Safari, Android, iOS
		}
	}
}

// this should prob accept a list of types
@mixin define-crippled-lib-font($font-name, $font, $weight: normal, $style: normal, $woff2: false) {
	@if ($woff2) {
		@font-face {
			font-family: $font-name;
			font-weight: $weight;
			font-style: $style;
			src: url(lib-font-path("#{$font}.eot")); // IE9 Compat Modes
			src: url(lib-font-path("#{$font}.eot?#iefix")) format("embedded-opentype"), // IE6-IE8
				 url(lib-font-path("#{$font}.svg#{$font}")) format("svg"), // Legacy iOS
				 url(lib-font-path("#{$font}.woff2")) format("woff2"), // Super Modern Browsers
				 url(lib-font-path("#{$font}.woff")) format("woff"); // Pretty Modern Browsers
		}
	}
	@else {
		@font-face {
			font-family: $font-name;
			font-weight: $weight;
			font-style: $style;
			src: url(lib-font-path("#{$font}.eot")); // IE9 Compat Modes
			src: url(lib-font-path("#{$font}.eot?#iefix")) format("embedded-opentype"), // IE6-IE8
				 url(lib-font-path("#{$font}.svg#{$font}")) format("svg"), // Legacy iOS
				 url(lib-font-path("#{$font}.woff")) format("woff"); // Pretty Modern Browsers
		}
	}
}

@mixin prefixed($prop-name, $prop-val) {
	-webkit-#{$prop-name}: $prop-val;
	-moz-#{$prop-name}: $prop-val;
	-ms-#{$prop-name}: $prop-val;
	-o-#{$prop-name}: $prop-val;
	#{$prop-name}: $prop-val;
}

@mixin omega-reset($nth: null, $cols: null) {
	@if ($nth and $cols) {
		&:nth-child(#{$nth}) {
			margin-right: flex-gutter($cols);
		}

		&:nth-child(#{$nth}+1) {
			clear: none;
		}
	}
	@else if ($nth) {
		&:nth-child(#{$nth}) {
			margin-right: flex-gutter();
		}

		&:nth-child(#{$nth}+1) {
			clear: none;
		}
	}
	@else {
		margin-right: flex-gutter();
		clear: none;
	}
}

// for use with icomoon
@mixin icon($name, $after: false) {
	@extend .h-icon--#{$name};
	@if ($after) {
		&::after {
			font-family: "icomoon";
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
	@else {
		&::before {
			font-family: "icomoon";
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
}

//Centered Vertically
@mixin vertically-centered {
	display: block;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

// Legacy support for inline-block in IE7
@mixin inline-block {
	display: inline-block;
	vertical-align: baseline;
	zoom: 1;
	// this is a hack
	// scss-lint:disable PropertySpelling
	*display: inline;
	*vertical-align: auto;
	// scss-lint:enable PropertySpelling
}
