// Neat setting defaults
// =============================================================================

// Change the neat grid settings
$gutter: (24 / 16) * 1em !default; // Gutter between each two columns
$grid-columns: 12 !default;
$max-width: 1200px !default;

$visual-grid-color: #FF0000 !default;
$visual-grid-index: front !default;
$visual-grid-opacity: 0.1 !default;

$visual-grid: false !default;
