// Change min and max function name because it's overide SASS function
@function bp-min($bp) {
    @return '(min-width: #{($bp / 16) * 1em})';
}

@function bp-max($bp) {
    @return '(max-width: #{($bp / 16) * 1em})';
}

@function bp-min-max($bp-min, $bp-max) {
    @return '#{bp-min($bp-min)} and #{bp-max($bp-max)}';
}

// Legacy below. Please don't use for future projects.

@function gutter($bp: 'base', $grid: 'main') {
    $g: map-get($grids, $grid);

    @return map-get(map-get($g, 'gutter'), $bp);
}

@function bp($bp, $grid: 'main') {
    $g: map-get($grids, $grid);
    $w: map-get(map-get($g, 'breakpoints'), $bp);

    @return if($w, $w, 0);
}

@function min($bp, $grid: 'main') {
    @return '(min-width: #{(bp($bp, $grid) / 16) * 1em})';
}

@function max($bp, $grid: 'main') {
    @return '(max-width: #{((bp($bp, $grid) - 1) / 16) * 1em})';
}

@function between($bp, $bp2, $grid: 'main') {
    @return '#{min($bp, $grid)} and #{max($bp2, $grid)}';
}

@function max-cols($bp: 'base', $grid: 'main') {
    $g: map-get($grids, $grid);

    @return map-get(map-get($g, 'cols'), $bp);
}
