// we don't choose these
// scss-lint:disable SelectorFormat

//colors
$white: #fff;
$color-vis-vis-approx: #fcefa1;
$color-orange-white-approx: #fbf9ee;
$color-alto-approx: #ddd;

//fonts
$font0: Arial;
$font1: Helvetica;
$font2: sans-serif;
$font3: sans-serif !important;

//@extend-elements
//original selectors
//div.Tokenize ul.TokensContainer li.Token, div.Tokenize ul.TokensContainer li.TokenSearch
%extend_1 {
	margin: 5px 0 0 5px;
	height: 18px;
	float: left;
}

div {

	&.TokenizeMeasure {
		font-family: $font0, $font1, $font2;
		font-size: 12px;
	}

	&.Tokenize {
		position: relative;
		display: inline-block;
		zoom: 1;

		ul {
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				white-space: nowrap;
			}

			&.TokensContainer {
				cursor: text;
				overflow-y: auto;
				user-select: none;

				li {

					&.Token {

						&.MovingShadow {
							border: 1px solid $color-vis-vis-approx;
							background-color: $color-orange-white-approx;
						}

						&.PendingDelete {
							opacity: 0.5;
							// ie
							// scss-lint:disable SpaceAroundOperator
							filter: alpha(opacity=50);
							// scss-lint:enable SpaceAroundOperator
						}

						a.Close {
							cursor: pointer;

							&:hover {
								background: transparent;
								text-decoration: none;
							}
						}
					}

					&.Placeholder {
						color: $color-alto-approx;
						position: absolute;
						line-height: 20px;
						padding: 5px 0 0 5px;
						display: none;
					}
				}

				&.Autosize {
					height: auto;
				}

				&.ui-sortable:not(.ui-sortable-disabled) li.Token {
					cursor: move;
				}
			}

			&.Dropdown {
				box-sizing: border-box;
				display: none;
				width: 100%;
				position: absolute;
				overflow-y: auto;
				background-clip: padding-box;
				z-index: 20;

				li {
					overflow: hidden;
					cursor: pointer;
				}
			}
		}

		&.Disabled ul.TokensContainer {
			cursor: not-allowed;

			input {
				cursor: not-allowed;
			}

			li.Token a.Close {
				display: none;
			}
		}
	}
}
