@mixin accordion {
    .#{$component-prefix}accordion__header {
        clear: both;

        // There is no focus state for this element in fe-common. We'll leave
        // that up to the masterlibrary or project styling.
        &:hover { // stylelint-disable-line
            cursor: pointer;
        }
    }

    .#{$component-prefix}accordion__header + .#{$component-prefix}accordion__body {
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: opacity 0.2s ease;
    }

    // State
    // =========================================================================

    .#{$component-prefix}accordion__header.#{$state-prefix}active + .#{$component-prefix}accordion__body {
        height: auto;
        opacity: 1;
        overflow: auto;
    }
}
