@mixin responsive-iframe {
    .#{$component-prefix}responsive-iframe {
        position: relative;
        height: 0;
        overflow: hidden;
        padding-bottom: ratio(16, 9);

        > iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    // Modifiers
    // =========================================================================

    .#{$component-prefix}responsive-iframe--16x9 {
        padding-bottom: ratio(16, 9);
    }

    .#{$component-prefix}responsive-iframe--4x3 {
        padding-bottom: ratio(4, 3);
    }
}
