.m-modal {
	z-index: 200;
	bottom: 0;
	margin: 0 auto;
	right: 0;
	left: 0;
	top: 0;
	padding: 0 0 20px;
	background-color: colour("white");
	position: fixed;
	overflow: auto;

	&.s-hidden {
		display: none;
	}

	// modal body
	&__body {
		padding: 20px 4%;
	}

	// close button
	&__close {

		&__trigger {
			position: relative;
			text-align: center;
			display: block;
			margin-top: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid colour("grey-tone1");

			&::before {
				position: absolute;
				left: 75px;
				right: 0;
			}
		}
	}

	h2 {
		.dashboard & {
			margin: 0;
		}
	}
}

// modal overlay
.m-modal-overlay,
.body-overlay,
.m-body-overlay {
	display: none;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	position: fixed;
	background-color: rgba(colour("black"), 0.75);
}

// ------------------
// state
// ------------------

// modal visible-active
// NB the js prefix isn't so great
.s-modal-visible .m-modal-overlay,
.s-modal-visible .body-overlay,
.s-modal-visible .m-body-overlay {
	display: block;
}

body.s-modal-visible,
body.s-modal-active {
	overflow: hidden;
}

html.s-loading {

	.m-loader {
		visibility: visible;
		opacity: 0.6;
		z-index: 100;
	}

	.body-overlay,
	.m-body-overlay {
		display: block;
	}
}

// ------------------
// media
// ------------------

@include media($medium) {

	.m-modal {
		@include prefixed(transform, translateY(-50%));
		background-color: transparent;
		padding: 0;
		bottom: auto;
		top: 50%;

		&__dialog {
			position: relative;
			width: 600px;
			margin: 0 auto;
		}

		&__body {
			@include prefixed(border-radius, 3px);
			background-color: colour("white");
		}

		&__close {
			height: 36px;
			margin-top: 50px;

			&__trigger {
				color: colour("white");
				position: absolute;
				right: 0;
				text-decoration: none;
				border: 0;

				&::before {
					position: absolute;
					right: 0;
					left: auto;
				}
			}
		}
	}
}
