//colors
$white: #fff;
$black: #000;
$modal-grey: #e3e3e3;

.modal {
	z-index: 200;
	bottom: 0;
	margin: 0 auto;
	right: 0;
	left: 0;
	top: 0;
	padding: 0 0 20px;
	background-color: $white;
	position: fixed;
	overflow: auto;

	// close button
	.modal-close {
		position: relative;
		text-align: center;
		display: block;
		margin-top: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid $modal-grey;

		&::before {
			position: absolute;
			left: 75px;
			right: 0;
		}
	}

	.modal-body {
		padding: 20px 4%;
	}

	h2 {

		.dashboard & {
			margin: 0;
		}
	}
}

.modal-overlay,
.body-overlay {
	display: none;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	position: fixed;
	background-color: $black;
	opacity: 0.8;
}

// -----
// State
// -----

// modal-visible
// -------------

.modal-visible .modal-overlay,
.modal-visible .body-overlay {
	display: block;
}

body.modal-visible,
body.modal-active {
	overflow: hidden;
}

// Media Queries
// -------------

@include media($medium) {
	.modal {
		@include prefixed(transform, translateY(-50%));
		background-color: transparent;
		padding: 0;
		bottom: auto;
		top: 50%;

		.modal-close-wrapper-mobile {
			height: 36px;
			margin-top: 50px;
		}

		.modal-close {
			color: $white;
			position: absolute;
			right: 0;
			text-decoration: none;
			border: 0;

			&::before {
				position: absolute;
				right: 0;
				left: auto;
			}
		}

		.modal-dialog {
			position: relative;
			width: 600px;
			margin: 0 auto;
		}

		.modal-body {
			@include prefixed(border-radius, 3px);
			background-color: $white;
		}
	}
}
