[class*="h-icon-"],
.h-icon {
	&::before,
	&::after {
		font-family: "icomoon";
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;

		// better font rendering
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

.h-icon {

	&--90 {
		&::before,
		&::after {
			@include prefixed(transform, rotate(90deg));
			display: inline-block;
		}
	}

	&--180 {
		&::before,
		&::after {
			@include prefixed(transform, rotate(180deg));
			display: inline-block;
		}
	}

	&--270 {
		&::before,
		&::after {
			@include prefixed(transform, rotate(270deg));
			display: inline-block;
		}
	}

	&--after {
		&::before {
			display: none;
		}
	}

	@each $val in $icons {
		$name: nth($val, 1);
		$content: nth($val, 2);

		&--#{$name} {
			&::before {
				content: $content;
			}

			&.h-icon--after {
				&::after {
					content: $content;
					float: right;
				}
			}
		}
	}

	@each $col in $colours {
		&--#{nth($col, 1)}-disc {
			&::before {
				padding: 10%;
				background: nth($col, 2);
				border-radius: 50%;
			}
		}

		&--#{nth($col, 1)}-disc.h-icon--after {
			&::after {
				padding: 10%;
				background: nth($col, 2);
				border-radius: 50%;
			}
		}
	}
}
