@mixin define-font($font-name, $font, $weight: normal, $style: normal) {
    @font-face {
        font-family: $font-name;
        font-weight: $weight;
        font-style: $style;

        @if variable-exists(font-display-setting) {
            font-display: $font-display-setting;
        }

        src: url(font-path('#{$font}.woff2')) format('woff2'), // Super Modern Browsers
            url(font-path('#{$font}.woff')) format('woff'), // Pretty Modern Browsers
            url(font-path('#{$font}.ttf')) format('truetype'); // Safari, Android, iOS
    }
}

@mixin define-lib-font($font-name, $font, $weight: normal, $style: normal) {
    @font-face {
        font-family: $font-name;
        font-weight: $weight;
        font-style: $style;

        @if variable-exists(font-display-setting) {
            font-display: $font-display-setting;
        }

        src: url(lib-font-path('#{$font}.woff2')) format('woff2'), // Super Modern Browsers
            url(lib-font-path('#{$font}.woff')) format('woff'), // Pretty Modern Browsers
            url(lib-font-path('#{$font}.ttf')) format('truetype'); // Safari, Android, iOS
    }
}

@mixin define-legacy-font($font-name, $font, $weight: normal, $style: normal, $woff2: false) {
    @if ($woff2) {
        @font-face {
            font-family: $font-name;
            font-weight: $weight;
            font-style: $style;
            src: url(font-path('#{$font}.eot')); // IE9 Compat Modes
            src: url(font-path('#{$font}.eot?#iefix')) format('embedded-opentype'), // IE6-IE8
                url(font-path('#{$font}.svg##{$font-name}')) format('svg'), // Legacy iOS
                url(font-path('#{$font}.woff2')) format('woff2'), // Super Modern Browsers
                url(font-path('#{$font}.woff')) format('woff'), // Pretty Modern Browsers
                url(font-path('#{$font}.ttf')) format('truetype'); // Safari, Android, iOS
        }
    } @else {
        @font-face {
            font-family: $font-name;
            font-weight: $weight;
            font-style: $style;
            src: url(font-path('#{$font}.eot')); // IE9 Compat Modes
            src: url(font-path('#{$font}.eot?#iefix')) format('embedded-opentype'), // IE6-IE8
                url(font-path('#{$font}.svg##{$font-name}')) format('svg'), // Legacy iOS
                url(font-path('#{$font}.woff')) format('woff'), // Pretty Modern Browsers
                url(font-path('#{$font}.ttf')) format('truetype'); // Safari, Android, iOS
        }
    }
}

@mixin define-legacy-lib-font($font-name, $font, $weight: normal, $style: normal, $woff2: false) {
    @if ($woff2) {
        @font-face {
            font-family: $font-name;
            font-weight: $weight;
            font-style: $style;
            src: url(lib-font-path('#{$font}.eot')); // IE9 Compat Modes
            src: url(lib-font-path('#{$font}.eot?#iefix')) format('embedded-opentype'), // IE6-IE8
                url(lib-font-path('#{$font}.svg##{$font-name}')) format('svg'), // Legacy iOS
                url(lib-font-path('#{$font}.woff2')) format('woff2'), // Super Modern Browsers
                url(lib-font-path('#{$font}.woff')) format('woff'), // Pretty Modern Browsers
                url(lib-font-path('#{$font}.ttf')) format('truetype'); // Safari, Android, iOS
        }
    } @else {
        @font-face {
            font-family: $font-name;
            font-weight: $weight;
            font-style: $style;
            src: url(lib-font-path('#{$font}.eot')); // IE9 Compat Modes
            src: url(lib-font-path('#{$font}.eot?#iefix')) format('embedded-opentype'), // IE6-IE8
                url(lib-font-path('#{$font}.svg##{$font-name}')) format('svg'), // Legacy iOS
                url(lib-font-path('#{$font}.woff')) format('woff'), // Pretty Modern Browsers
                url(lib-font-path('#{$font}.ttf')) format('truetype'); // Safari, Android, iOS
        }
    }
}

// this should prob accept a list of types
@mixin define-crippled-lib-font($font-name, $font, $weight: normal, $style: normal, $woff2: false) {
    @if ($woff2) {
        @font-face {
            font-family: $font-name;
            font-weight: $weight;
            font-style: $style;
            src: url(lib-font-path('#{$font}.eot')); // IE9 Compat Modes
            src: url(lib-font-path('#{$font}.eot?#iefix')) format('embedded-opentype'), // IE6-IE8
                url(lib-font-path('#{$font}.svg##{$font-name}')) format('svg'), // Legacy iOS
                url(lib-font-path('#{$font}.woff2')) format('woff2'), // Super Modern Browsers
                url(lib-font-path('#{$font}.woff')) format('woff'); // Pretty Modern Browsers
        }
    } @else {
        @font-face {
            font-family: $font-name;
            font-weight: $weight;
            font-style: $style;
            src: url(lib-font-path('#{$font}.eot')); // IE9 Compat Modes
            src: url(lib-font-path('#{$font}.eot?#iefix')) format('embedded-opentype'), // IE6-IE8
                url(lib-font-path('#{$font}.svg##{$font-name}')) format('svg'), // Legacy iOS
                url(lib-font-path('#{$font}.woff')) format('woff'); // Pretty Modern Browsers
        }
    }
}
