
@mixin prefixed($prop-name, $prop-val) {
    -webkit-#{$prop-name}: $prop-val;
    -moz-#{$prop-name}: $prop-val;
    -ms-#{$prop-name}: $prop-val;
    -o-#{$prop-name}: $prop-val;
    #{$prop-name}: $prop-val;
}

@mixin omega-reset($nth: null, $cols: null) {
    @if ($nth and $cols) {
        &:nth-child(#{$nth}) {
            margin-right: flex-gutter($cols);
        }

        &:nth-child(#{$nth}+1) {
            clear: none;
        }
    }
    @else if ($nth) {
        &:nth-child(#{$nth}) {
            margin-right: flex-gutter();
        }

        &:nth-child(#{$nth}+1) {
            clear: none;
        }
    }
    @else {
        margin-right: flex-gutter();
        clear: none;
    }
}

// for use with icomoon
@mixin icon($name, $after: false) {
    @extend .h-icon--#{$name};

    @if ($after) {
        &::after {
            font-family: icomoon, sans-serif;
            speak: none;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    } @else {
        &::before {
            font-family: icomoon, sans-serif;
            speak: none;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
}

//Centered Vertically
@mixin vertically-centered {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

// Legacy support for inline-block in IE7
@mixin inline-block {
    display: inline-block;
    vertical-align: baseline;
}
